/* Genel Stil */
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #f2f2f2;
  margin: 0;
  background-color: #212121;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Başlık */
header {
  background-color: #4d4d4d;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #1a1a1a;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #f2f2f2;
  color: #212121;
}

/* Ana İçerik */
main {
  padding: 50px 0;
}

main h2 {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #1a1a1a;
}

main p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/* Footer */
footer {
  background-color: #4d4d4d;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-align: center;
}
